
/*Autor: Sávio Viana */
h1{
    color: #004d1a;
}

.hide{
    display: none;
}

.show {
    display: block;
}

.bg-primary{
    background-color:#004d1a!important;
    color: #ffffff;
}

/*table-list*/
.table-curved > thead:first-child > tr:first-child > th {
    border-top: none;
}
.table-curved td, .table-curved th {
    border-top: none;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 10px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 10px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 10px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 10px 0;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e6ffee;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ccffdc;
}

/*form */
input[type="text"]:focus,
input[type="number"]:focus,
.form-group select:focus {
    outline: none;
    box-shadow: 0px 0px 7px 1px rgba(0,102,32,0.51)!important;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,102,32,0.51)!important;
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,102,32,0.51)!important;
    border:1px solid #006620;
}

.badge-primary{
    background: #004d18;
}
